body {
    background-color:#000000;
    background-repeat: no-repeat;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}

a {
   color:#666666;
   text-decoration: none;
}
a:hover {
    color:#ffffff;
}

#main {
    margin: -8px 0px 0px 0px;
    position: relative;
    width: 886px;
    height: 580px;
    background-image: url(../images/tlo.jpg);
    background-repeat: none;

}

#mainmenu {
	position: absolute;
	left: 270px;
	top: 364px;
	font-size: 12px;
	font-weight: bold;
	color:#b1daf2;
	text-align: left;
	width: 127px;
}



#login {
    position: absolute;
    left: 400px;
    top: 457px;
    width: 450px;
    height: 125px;
    z-index:10;
}

.rightmenu_big {
    position: absolute;
    left: 400px;
    top: 70px;
    width: 450px;
    height: 384px;
    z-index:1;
}

.rightmenu_register {
    position: absolute;
    left: 400px;
    top: 70px;
    width: 450px;
    height: 384px;
}

.rightmenu {
    position: absolute;
    left: 400px;
    top: 250px;
    width: 450px;
    height: 205px;
    z-index:1;
}

#link {
    cursor: pointer;
}

#title {
	position: absolute;
	left: 25px;
	top: 9px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 21px;
	font-weight: bold;
	color: #4B99C6;
	text-align: center;
	width: 400px;
}

#content {
    position: absolute;
    left: 25px;
    top: 50px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;

    color:#b1daf2;
    text-align: left;
    width: 400px;
}

#contentscroll {
     overflow: auto;
     height: 320px;
     width: 405px;

     padding-right: 10px;

}

#register {
    position: absolute;
    left: 0px;
    top: 60px;
    width: 400px;
    height:26px;
    padding-top:10px;
}

#register:hover {
    color:#ffffff;
}

#text2 {
	position: absolute;
	left: 0px;
	top: 120px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#b1daf2;
	text-align: left;
	width: 400px;

}

#login_input {
	position: absolute;
	left: 25px;
	top: 21px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 10px;
	color:#b1daf2;
	text-align: left;
	width: 400px;
	right: 25px;
	height: 90px;
}

#login_text_1 {
    position: absolute;
    top: 11px;
    left: 0px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 9px;
    color:#666666;
    text-align: left;
    width: 440px;
}

#login_text_2 {
    position: absolute;
    top: 30px;
    left: 0px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 9px;
    color:#666666;
    text-align: left;
    width: 440px;
}


#downmenu {
    position: absolute;
    top: 110px;
    left: 270px;
    font-size: 10px;
    color:#666666;
    text-align: right;
    width: 169px;
}

#copyright {
    position: absolute;
    top: 170px;
    left: 0px;
    font-size: 10px;
    color:#666666;
    text-align: left;
    width: 200px;
}

.image {
    padding-bottom: 10px;
}

.eingabe{
    border:1px solid #000000;
    background:#ffffff;
    color: #000000;
    font-size:10px;

}
.menupoint {
    /*width:10px;*/
   /* height:4px; */
    padding-top:2px;
    padding-bottom:1px;
    padding-left:10px;
    background-repeat: no-repeat;
    background-position: left center;
}

.link {
    cursor: pointer;
}
.link:hover {
    color:#ffffff;
}

#mainmenu a {
   padding-left:10px;
   padding-top:2px;
   padding-bottom:1px;
   color:#b1daf2;
   text-decoration: none;
   display: block;
   text-shadow: 2px 2px 2px #000;
}

#mainmenu span {
    display: block;
}

#login_input a {
   color:#cccccc;
   text-decoration: none;
}
#login_input a:hover {
    color:#ffffff;
}


#mainmenu a:hover {
    color:#ffffff;
}

.products {
    position:relative;
    width:886px;
    top:23px;
    height:30px;
    font-family:Arial, Helvetica, sans-serif;
    margin:0 auto;
    font-size: 10px;
    color:#b5cfcd;
}

img {
    border: 1px solid #516274;
}


img:hover {
   /* border: 1px solid #ffffff;*/
}

a img:hover {
    border: 1px solid #ffffff;
}

.products {
   /* display:none;*/
}

.products img {
    color:#516274;
    border-width: 1px;
    height: 12px;
    width: 18px;
}


.products a {
   color:#b5cfcd;
   text-decoration: none;
}
.products a:hover {
    color:#ffffff;
}

#headerselect {
    border:1px double #000000;
    background:#595f71;
    color: #dddddd;
    font-size:10px;
}

#register_container {
    position: absolute;
    top: 80px;
    left: 10px;
    width:380px;
    height:300px;
}

#infotext {
    position: absolute;
    top: 210px;
    width:400px;
}

#statustext {
    position: absolute;
    top: 260px;
    width:400px;
}

#register_submit {
    position: absolute;
    top: 286px;
    left:75px;
    width:250px;
    padding-top: 4px;
    height:20px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    color:#497ec7;
    cursor: pointer;
}

#register_submit:hover {
    color:#ffffff;
}


table {
	text-align: right;
	color:#CCCCCC;
	font-size: 10px;
}

td .eingabe {
    width: 120px;
    text-align:left;
}

.bigbutton {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    color:#497ec7;
    cursor: pointer;
}

.bigbutton:hover {
    color:#ffffff;
}

.warning {
    color:#ff7876;
}

.fine {
    color:#00ff00;
}

.register_agb {
    color:#cccccc;
}

.register_agb:hover {
    color:#ffffff;
}

.headline {
  text-align:center;
  font-weight:bold;
  font-size:14px;
}

#gimmik_1 {
    width:100px;
    height:50px;
    top:100px;
    left:100px;
}

#gimmik_2 {
    width:50px;
    height:50px;
    top:200px;
    left:100px;
}

.iframe {
    border:none;

    width:100%;
    height:27px;
}

.loginButton {
    padding-top:2px;
    padding-left:5px;
}


.loginButton:hover {
    padding-top:2px;
    padding-left:5px;
}

.bildUeberschrift {
     font-family:Arial, Helvetica, sans-serif;
     font-size: 10px;
     color:#b1daf2;
}

#unis_content {
    padding-left:70px;
    padding-top:10px;
}

#unis_content a {
    display: block;
    color:#878787;
}

#unis_content a:hover {
    color:#ffffff;
}

#unis_title2 {
    padding-top:25px;
    padding-bottom:3px;
    width:380px;
    font-size:14px;
    font-weight:bold;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color:#2a2f33;
}

#closed_uni {
    color:#535353;
}


#uni_infos_link {
    text-align:left;
    width:200px;
    padding-top:3px;
}

#uni_infos_link a {
    color:#878787;
}

#uni_infos_link a:hover {
    color:#ffffff;
}

#uni_label {
    vertical-align:top;
    padding-top:3px;
}

.table_lable {

}

.table_input {
    text-align:left;
    padding-left:3px;
}

#table_agb {
    text-align:left;
}

#agb_zeile {

}

input, select, textarea
{
	border               : 1px #545454 solid;
	font-size            : 10px;
	font-family          : Tahoma, sans-serif;
}

th, td.a, td.b, td.c, td.f, input, select, td.g,
td.h, td.i, td.j, td.k, td.m, td.o, td.q, td.r,
td.v, td.s, .style td, p td
{
  background-color     : #000000;
  filter               : alpha(opacity=70);
  -moz-opacity         : 0.7;
  -khtml-opacity       : 0.7;
  opacity              : 0.7;
}

td.f, input, select, textarea
{
  color                : #FFFFFF;
  background-color     : #1c1c1c;
  filter               : alpha(opacity=70);
  -moz-opacity         : 0.7;
  -khtml-opacity       : 0.7;
  opacity              : 0.7;
}
